{% extends 'base.html' %}

{% load static from staticfiles %}

{% block title %}Editors{% endblock %}

{% block css %}
<link href="https://code.jquery.com/ui/1.10.3/themes/redmond/jquery-ui.css" rel="stylesheet" media="screen">
<link href="{% static 'vendors/bootstrap-wysihtml5/src/bootstrap-wysihtml5.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="col-md-10">
    <div class="content-box-large">
        <div class="panel-heading">
            <div class="panel-title">CKEditor Standard</div>
            <div class="panel-options">
                <a href="#" data-rel="collapse"><i class="glyphicon glyphicon-refresh"></i></a>
                <a href="#" data-rel="reload"><i class="glyphicon glyphicon-cog"></i></a>
            </div>
        </div>
        <div class="panel-body">
            <textarea id="ckeditor_standard"></textarea>
        </div>
    </div>
    <div class="content-box-large">
        <div class="panel-heading">
            <div class="panel-title">CKEditor Full</div>
            <div class="panel-options">
                <a href="#" data-rel="collapse"><i class="glyphicon glyphicon-refresh"></i></a>
                <a href="#" data-rel="reload"><i class="glyphicon glyphicon-cog"></i></a>
            </div>
        </div>
        <div class="panel-body">
            <textarea id="ckeditor_full"></textarea>
        </div>
    </div>
    <div class="content-box-large">
        <div class="panel-heading">
            <div class="panel-title">TinyMCE Basic</div>
            <div class="panel-options">
                <a href="#" data-rel="collapse"><i class="glyphicon glyphicon-refresh"></i></a>
                <a href="#" data-rel="reload"><i class="glyphicon glyphicon-cog"></i></a>
            </div>
        </div>
        <div class="panel-body">
            <textarea id="tinymce_basic"></textarea>
        </div>
    </div>
    <div class="content-box-large">
        <div class="panel-heading">
            <div class="panel-title">TinyMCE Full</div>
            <div class="panel-options">
                <a href="#" data-rel="collapse"><i class="glyphicon glyphicon-refresh"></i></a>
                <a href="#" data-rel="reload"><i class="glyphicon glyphicon-cog"></i></a>
            </div>
        </div>
        <div class="panel-body">
            <textarea id="tinymce_full"></textarea>
        </div>
    </div>
    <div class="content-box-large">
        <div class="panel-heading">
            <div class="panel-title">Bootstrap WYSIWYG</div>
            <div class="panel-options">
                <a href="#" data-rel="collapse"><i class="glyphicon glyphicon-refresh"></i></a>
                <a href="#" data-rel="reload"><i class="glyphicon glyphicon-cog"></i></a>
            </div>
        </div>
        <div class="panel-body">
            <textarea id="bootstrap-editor" placeholder="Enter text ..." style="width:98%;height:200px;"></textarea>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="https://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script src="{% static 'vendors/bootstrap-wysihtml5/lib/js/wysihtml5-0.3.0.js' %}"></script>
<script src="{% static 'vendors/bootstrap-wysihtml5/src/bootstrap-wysihtml5.js' %}"></script>
<script src="{% static 'vendors/ckeditor/ckeditor.js' %}"></script>
<script src="{% static 'vendors/ckeditor/adapters/jquery.js' %}"></script>
<script src="{% static 'vendors/tinymce/js/tinymce/tinymce.min.js' %}"></script>
<script src="{% static 'js/editors.js' %}"></script>
{% endblock %}
